<div class="devise">
<h2>ユーザー情報</h2>

  <div class="user_info">

    <img src="https://i.imgur.com/8d7e7vT.png" alt="userIcon" id="userIcon">
    <h3>ユーザーID: <%= current_user.userId %></h3>
    <h3>ユーザー名: <%= current_user.name %></h3>
    <h3>参加した日: <%= current_user.created_at %></h3>
    <h3>オンライン: <%= current_user.status %></h3>
  </div>


</div>
